@import url('https://fonts.googleapis.com/css2?family=Sarabun&family=Montserrat&display=swap');

:root {
  /* Colors */
  --purewhite: #ffffff;

  --col-calculator: #393939;
  --col-button-shadow: #292929;
  --col-display: #646464;
  --col-buttons: #8e8e8e;

  --text-color: #e3e3e3;
  --text-color-hightlight: var(--col-calculator);
  --text-color-result: #c6d161;

  --col-number-highlight: #b9b9b9;
  --col-del-highlight: #fe6847;
  --col-operator-highlight: #9999dd;
  --col-equal-highlight: #c6d161;

  /* Font sizes */  
  --txt-fontsize: 22px;              
  --btn-fontsize: 1.2rem;
  --digits-fontsize: 1.6rem;
  --results-fontsize: 1.3rem;

  /* Font family */
  --main-font: 'Sarabun', sans-serif;

  /*Margins and paddings*/
  --main-padding: 10px;
  --ftr-gap:  20px;

  /* Display */
  --display-padding: 5px 10px;
  --display-gap: 3px;

  /*Calculator*/
  --calculator-padding: 25px;
  --calculator-gap: 20px;
  --radius: 10px;
  --btns-padding: 0px;
  --btns-gap: 10px;

  /*Buttons*/
  --btn-padding: 20px;

  /* Maximum column width */
  --col-width: 400px;

  /* Animations on hover */
  --offset-translate-hover: -3px;
  --scale-translate-hover: 1.05;
  --time-transition-hover: .2s;
}


html {
  background-color: var(--purewhite);
  color:  var(--text-color);
  font-family: var(--main-font), monospace;
  font-weight: 400;
  line-height: 1em;
  font-size: var(--txt-fontsize);
}

* { 
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding:  0;
  margin: 0;
}

body{
  margin:  0 auto;
  height: 100vh; /*it is assumed the same for <html>*/
  width: 100%; /* or max-width -- this avoids horizontal scroll bars */
}

/*****************************************************/

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  max-width: var(--col-width);
  width: 100%;
}

/*----------------------------------------*/
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer{
  gap: var(--ftr-gap);
  padding: var(--ftr-padding);
  width: 100%;
}

main{
  flex: 1;
  height: 100%;
  padding: var(--main-padding);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

/* || Calculator */
.calculator,.calculator .buttons{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}


.calculator{
    gap: var(--calculator-gap);
    padding: var(--calculator-padding);
    background-color: var(--col-calculator);
    border-radius: var(--radius);
}

/* Buttons */
.calculator .buttons{
    gap: var(--btns-gap);
    padding: var(--btns-padding);
}


.calculator .row{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-align: center; 
    gap: var(--btns-gap);
}

.calculator .button{
   flex: 1;
   border-radius: var(--radius);
   padding: var(--btn-padding);
   background-color: var(--col-buttons);
   line-height: 1.3em;
   font-size: var(--btn-fontsize);
   user-select: none;
}

/* Display */

.calculator .display{
    display: flex;
    flex-direction: column;
    background-color: var(--col-display);
    border-radius: var(--radius);
    padding: var(--display-padding);
    gap: var(--display-gap);
 }

 .calculator .display .results, .calculator .display .digits{
    line-height: 1.4rem;
    height: 1.4rem;
    text-align: right;
    overflow: hidden;
 }

 .calculator .display .digits{
    font-size: var(--digits-fontsize);
    color: var(--text-color-result);
    font-weight: 500;
    overflow: visible;
    white-space: nowrap;
 }

 .calculator .display .results{
    font-size: var(--results-fontsize);
 }


/* Animations on hover/active */

@media (pointer: fine) { /*mouse*/
  .calculator .button:hover{
      color: var(--text-color-hightlight);
  }

  .calculator .button.number:hover{
      background-color: var(--col-number-highlight);
  }

  .calculator .button.operator:hover{
      background-color: var(--col-operator-highlight);
  }

  .calculator .button.equal:hover{
      background-color: var(--col-equal-highlight);
  }

  .calculator .button.delete:hover,
  .calculator .button.cancel:hover{
      background-color: var(--col-del-highlight);
  }

  .calculator .button:hover{
      transition: all var(--time-transition-hover) ease-in-out;
      transform: translate(0px, var(--offset-translate-hover)) scale(var(--scale-translate-hover));
      -webkit-transform: translate(0px, var(--offset-translate-hover)) scale(var(--scale-translate-hover));
  }

  .calculator .button:active {
      transform: translate(0px, 0px);
      -webkit-transform: translate(0px, 0px);
  }
}

@media (pointer: coarse) { /*finger on a touchscreen*/
  .calculator .button:active{
      color: var(--text-color-hightlight);
  }

  .calculator .button.number:active{
      background-color: var(--col-number-highlight);
  }

  .calculator .button.operator:active{
      background-color: var(--col-operator-highlight);
  }

  .calculator .button.equal:active{
      background-color: var(--col-equal-highlight);
  }

  .calculator .button.delete:active,
  .calculator .button.cancel:active{
      background-color: var(--col-del-highlight);
  }

  .calculator .button:active{
      transition: all var(--time-transition-hover) ease-in-out;
      transform: translate(0px, var(--offset-translate-hover)) scale(var(--scale-translate-hover));
      -webkit-transform: translate(0px, var(--offset-translate-hover)) scale(var(--scale-translate-hover));
  }

}

/* Shadows */
.calculator{
    box-shadow: 3px 3px 5px var(--col-calculator);
}

.calculator .button{
    box-shadow: 3px 3px 5px var(--col-button-shadow);
}

.display{
    box-shadow: 3px 3px 10px var(--col-calculator) inset;
}



/* || Footer */
footer {
    --light-grey: rgb(210, 210, 210);
    --black: rgb(0, 0, 0);
    --ftr-fontsize: 12px;
    --ftr-font: 'Montserrat';
    --ftr-padding: 5px;
    background-color: var(--light-grey);
    color: var(--black);
    font-family: var(--ftr-font), sans-serif;
    font-size: var(--ftr-fontsize);
    font-weight: 400;
    line-height: 1.2;
    padding: var(--ftr-padding);
}

footer i {
    font-size: 1.3em;
}