@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Montserrat&display=swap');

:root {
  /* Colors */
  --black: rgb(0, 0, 0);
  --white: #f1f1f1;
  --purewhite: #ffffff;
  --grey: rgb(171, 171, 171);
  --col10: #F55555;
  --col70: #6A6FFD;
  --col30 :#40B1F8;
  --light-grey: rgb(210, 210, 210);

  /* Font sizes */                               
  --btn-fontsize: 28px;
  --txt-fontsize: 22px;
  --ftr-fontsize: 12px;

  /* Font family */
  --main-font: 'Patrick Hand SC', sans-serif;
  --ftr-font: 'Montserrat';

  /*Margins and paddings*/
  --main-padding: 10px;
  --ftr-padding: 5px;
  --ftr-gap:  20px;

  /*Calculator*/
  --calculator-padding: 25px;
  --calculator-gap: 15px;
  --btns-padding: 20px;
  --btns-gap: 10px;

  /*Buttons*/
  --btn-padding: 20px;
  --btn-border: 2px;
  --btn-height: 100px;

  /* Maximum column width */
  --col-width: 400px;
}


html {
  background-color: var(--purewhite);
  color:  var(--black);
  font-family: var(--main-font), monospace;
  font-weight: 400;
  line-height: 1em;
  font-size: var(--txt-fontsize);
}

* { 
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  padding:  0;
  margin: 0;
}

body{
  margin:  0 auto;
  height: 100vh; /*it is assumed the same for <html>*/
  width: 100%; /* or max-width -- this avoids horizontal scroll bars */
}

/*****************************************************/

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  max-width: var(--col-width);
  width: 100%;
}

/*----------------------------------------*/
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer{
  gap: var(--ftr-gap);
  padding: var(--ftr-padding);
  width: 100%;
}

main{
  flex: 1;
  height: 100%;
  padding: var(--main-padding);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

/* || Calculator */
.calculator,.calculator .buttons{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

.calculator{
    gap: var(--calculator-gap);
    padding: var(--calculator-padding);
    background-color: var(--col10);
    border-radius: 10px;
}

.calculator .buttons{
    gap: var(--btns-gap);
    padding: var(--btns-padding);

}


.calculator .row{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-align: center; 
    gap: var(--btns-gap);
}

.calculator .button{
   flex: 1;
   border-radius: 50%;
   padding: 10px 0;
   background-color: var(--col70);
}

.calculator .display{
    background-color: var(--col30);
    border-radius: 10px;
 }

 .calculator .display .results, .calculator .display .digits{
    line-height: 1.1em;
    height: 1.2em;
    text-align: right;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
 }

 .calculator .display .digits{
 }

 .calculator .display .results{
 }

/* || Footer */
footer {
    background-color: var(--light-grey);
    color: var(--black);
    font-family: var(--ftr-font), sans-serif;
    font-size: var(--ftr-fontsize);
    font-weight: 400;
    line-height: 1.2;
    padding: var(--ftr-padding);
  }
  
  footer i {
    font-size: 1.3em;
  }